<nb-layout>

  <nb-layout-header fixed>
    <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>

    <nb-icon
      icon="menu-2-outline"
      class="sidebar-toggle"
      (click)="onSwitchMenuMode()">
    </nb-icon>

    <h4>Stake System</h4>

    <div class="header-container ms-auto">
			<nb-actions size="small">
				<nb-action icon="search-outline"></nb-action>
				<nb-action icon="home-outline"></nb-action>
				<nb-action icon="person-outline"></nb-action>
			</nb-actions>
		</div>
  </nb-layout-header>

  <nb-sidebar [state]="menuView">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>

  </nb-layout-column>
</nb-layout>
