<section class="event">

  <nb-card>
    <nb-card-body>
       <form class="event-form grid" (ngSubmit)="onSubmit()" [formGroup]="eventForm">

          <div class="event-input mb-3">
            <label class="form-label">Conductor</label>
            <input formControlName="conductor" nbInput fullWidth type="text">
          </div>

          <div class="event-input mb-3">
            <label class="form-label">Pianist</label>
            <input formControlName="pianist" nbInput fullWidth type="text">
          </div>

          <div class="designation-list">
            <div formArrayName="speakers" class="speakers">

              <div
                *ngFor="let speakerCtrl of speakerCtrls; let i = index"
                [formGroupName]="i"
                class="speaker"
              >
                <div class="event-input">
                  <label class="form-label">{{i + 1}} speaker</label>
                  <input formControlName="speaker" nbInput fullWidth type="text">
                </div>

                <div class="event-input">
                  <input nbInput formControlName="time" [nbTimepicker]="timepicker">
                  <nb-timepicker #timepicker></nb-timepicker>
                </div>

                <div class="action-box">
                  <button
                  (click)="onAddSpeaker()"
                  status="success"
                  class="btn-add"
                  nbButton
                  >
                  <nb-icon icon="plus-outline"></nb-icon>
                </button>

                <button
                    *ngIf="i >= 1"
                    (click)="onDeleteSpeaker(i)"
                    class="btn-add"
                    status="danger"
                    nbButton
                  >
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>
              </div>

            </div>

            <div formArrayName="others" class="others">
              <div
                *ngFor="let otherCtrl of otherCtrls; let i = index"
                [formGroupName]="i"
                class="other"
              >

                <div class="event-input">
                  <label class="form-label">Designation</label>
                  <input formControlName="designation" nbInput fullWidth type="text">
                </div>

                <div class="event-input">
                  <label class="form-label">Name</label>
                  <input formControlName="name" nbInput fullWidth type="text">
                </div>

                <div class="action-box">
                  <button
                    (click)="onAddOther()"
                    status="success"
                    class="btn-add"
                    nbButton
                  >
                    <nb-icon icon="plus-outline"></nb-icon>
                  </button>

                  <button
                    *ngIf="i >= 1"
                    (click)="onDeleteOther(i)"
                    status="danger"
                    class="btn-add"
                    nbButton
                  >
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>

              </div>
            </div>
          </div>

       </form>
    </nb-card-body>
  </nb-card>

</section>
