<form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
  <div class="row">

    <div class="col-12 col-md-3 mt-3">
   
    </div>

    <div class="col-12 col-md-4 mt-3">
  
    </div>

    <div class="col-12 col-md-2 mt-3">
      
    </div>

    <div class="col-12 col-md-2 mt-3">
      
    </div>

    <div class="col-12 col-md-4 mt-3">
      
    </div>

    <div class="col-12 col-md-2 mt-3">
      
    </div>

    <div class="col-12 col-md-2 mt-3">
      
    </div>

    <div class="col-12 col-md-4 mt-3">
      
    </div>

    <div class="col-12 mt-3">
      
    </div>

    <div class="col-12 mt-3">
 
    </div>

  </div>

</form>
