<nb-card>
  <nb-card-body>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="row">
        <!-- Start User Image -->
        <div class="col-12 col-md-2">
          <img src="../../../../../assets/imgs/default/default_product.png" alt="">
        </div>

        <!-- Start User Form -->
        <div class="col-12 col-md-9">
          <button nbButton outline status="success" [disabled]="!userForm.valid">Save</button>
          <button nbButton outline status="warning" [hidden]="!userForm.touched" (click)="onResetForm()">Clean</button>

          <div class="row">

            <!-- User Name -->
            <div class="col-12 col-md-5 form-input">
              <input type="text" nbInput fullWidth placeholder="Name" formControlName="name">
            </div>

            <!-- User email -->
            <div class="col-12 col-md-5 form-input">
              <input type="email" nbInput fullWidth placeholder="Email" formControlName="email">
            </div>

            <!-- User Passsword -->
            <div class="col-12 col-md-5 form-input">
              <input type="password" nbInput fullWidth placeholder="Password" formControlName="password">
            </div>

            <!-- User Passsword Confirmation -->
            <div class="col-12 col-md-5 form-input">
              <input type="password" nbInput fullWidth placeholder="Confirm Password">
            </div>

            <!-- User Calling -->
            <div class="col-12 col-md-5 form-input">

              <nb-select multiple fullWidth placeholder="Select Calling" formControlName="calling">
                <nb-option value="1">Option 1</nb-option>
              </nb-select>

            </div>

            <!-- User Church Unit Type -->
            <div class="col-12 col-md-5 form-input">

              <nb-select multiple fullWidth placeholder="Select Unit Type" formControlName="churchUnitType">
                <nb-option value="1">Option 1</nb-option>
              </nb-select>

            </div>

          </div>


        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>
